[submodule "sim/curve_engine/testbench/curve25519-dalek"]
	path = sim/curve_engine/testbench/curve25519-dalek
	url = https://github.com/betrusted-io/curve25519-dalek.git
[submodule "sim/curve_engine/testbench/engine25519-as"]
	path = sim/curve_engine/testbench/engine25519-as
	url = https://github.com/betrusted-io/engine25519-as.git
